body {
    overflow-x: hidden !important;
    padding: 0px !important;
}
#Renderpart {
    margin-top: 86px !important;
}
#FollowMeApp h3 {
    margin-right: 9px !important;
}
#FollowMeApp .widget-body p {
    float: right !important;
}
#DropDownMenu {
    float:right !important;
}
.RegisterLink , .LoginLink {
    padding:15px !important;
    margin:0px !important;
}
.LoginLink {
    border-top:none !important;
}